body {
  background-color: purple;
  background-image: url('../images/unicorn_bg.png');
  overflow-wrap: break-word;
  /*background-image: url('../images/truck.jpg');*/
  /*color: purple;*/
}

.r-container {
  /*background-color: purple;*/
  /*color: purple;*/
}