html {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" style="font-size:14px"><text y="16">🦄</text></svg>'), auto;
}

body {
  background-color: purple;
  background-image: url('../images/unicorn_bg.png');
  overflow-wrap: break-word;
  /*background-image: url('../images/truck.jpg');*/
  /*color: purple;*/
}

.r-container {
  /*background-color: purple;*/
  /*color: purple;*/
}

.r-unicorn-mover {
	max-width: 100px;
	cursor: pointer;
}