---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<p>{{ metadata.description }}</p>

<div class="rp-gallery">

  {% if cloudinary.resources.length < 1 %}

  <p class="rp-houston">Housten, we have a problem! Honestly, I've done at least one art but technical issues mean the computer says no! Sorry :-(</p>

  {% else %}
    {% for image in cloudinary.resources %}

      {% set defaultText = "Art by Ruth" %}
      {% set alt = defaultText %}
      {% set caption = defaultText %}

      {% if image.context.custom.alt %}
        {% set alt = image.context.custom.alt %}
      {% endif %}

      {% if image.context.custom.caption %}
        {% set caption = image.context.custom.caption %}
      {% endif %}

      <a href="https://res.cloudinary.com/dwhxvo4kw/image/upload/c_scale,w_1024/{{ image.public_id }}.jpeg" class="lightbox">
        <picture>
          <source type="image/avif" 
            srcset="https://res.cloudinary.com/dwhxvo4kw/image/upload/f_avif,q_auto,w_600/{{ image.public_id }}.avif 600w, https://res.cloudinary.com/dwhxvo4kw/image/upload/f_avif,q_auto,w_1200/{{ image.public_id }}.avif 1200w" 
            sizes="(min-width: 60rem) 80vw, (min-width: 40rem) 90vw, 100vw">
            
          <source type="image/webp" 
            srcset="https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_600/{{ image.public_id }}.webp 600w, https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_1200/{{ image.public_id }}.webp 1200w" 
            sizes="(min-width: 60rem) 80vw, (min-width: 40rem) 90vw, 100vw">
            
          <source type="image/jpeg"
            srcset="https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_600/{{ image.public_id }}.jpeg 600w, https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_1200/{{ image.public_id }}.jpeg 1200w" 
            sizes="(min-width: 60rem) 80vw, (min-width: 40rem) 90vw, 100vw">
            
            <img alt="{{ alt }}" loading="lazy" decoding="async" src="https://res.cloudinary.com/dwhxvo4kw/image/upload/c_scale,w_600/{{ image.public_id }}.jpeg" width="600">
        </picture>
        <span class="rp-photo-title">{{ caption }}</span>
        {# <span class="rp-photo-description">{{ alt }}</span> #}
      </a>
    {% endfor %}
  {% endif %}

</div>

{# <picture>

<source type="image/avif" 
  srcset="https://res.cloudinary.com/dwhxvo4kw/image/upload/f_avif,q_auto,w_600/ruth-portfolio/{{ image.filename }}.avif 600w, https://res.cloudinary.com/dwhxvo4kw/image/upload/f_avif,q_auto,w_1200/ruth-portfolio/{{ image.filename }}.avif 1200w, https://res.cloudinary.com/dwhxvo4kw/image/upload/f_avif,q_auto,w_1800/ruth-portfolio/{{ image.filename }}.avif 1800w" 
  sizes="(min-width: 60rem) 80vw, (min-width: 40rem) 90vw, 100vw">
  
<source type="image/webp" 
  srcset="https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_600/ruth-portfolio/{{ image.filename }}.webp 600w, https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_1200/ruth-portfolio/{{ image.filename }}.webp 1200w, https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_1800/ruth-portfolio/{{ image.filename }}.webp 1800w" 
  sizes="(min-width: 60rem) 80vw, (min-width: 40rem) 90vw, 100vw">
  
<source type="image/jpeg"
  srcset="https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_600/ruth-portfolio/{{ image.filename }}.jpeg 600w, https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_1200/ruth-portfolio/{{ image.filename }}.jpeg 1200w, https://res.cloudinary.com/dwhxvo4kw/image/upload/q_auto,w_1800/ruth-portfolio/{{ image.filename }}.jpeg 1800w" 
  sizes="(min-width: 60rem) 80vw, (min-width: 40rem) 90vw, 100vw">
  
  <img alt="A bomb ass nebula" loading="lazy" decoding="async" src="https://res.cloudinary.com/dwhxvo4kw/image/upload/c_scale,w_600/ruth-portfolio/{{ image.filename }}.jpeg" width="600">

</picture> #}
