#chart .c3-bar {
  fill: #ff69b4  !important;
}

#chart .c3-legend-item-tile {
  stroke: #d6a2bc  !important;
}

#data {
  width: 100%;
  height: 50px;
  color: #333333;
}

#update {
  margin-top: 2em;
}