.rg-forces-container {
  position: relative;
}

#forcesCanvas {
  width: 100%;
  background-color: #87CEFA;
}

/* The below should be in a media query for larger screens. On mobile first, the buttons should be below the interaction - would this work? Or should the arrows be the buttons? */

/* #lift, #gravity, #drag, #thrust {
  position: absolute;
  margin: 0;
}

#lift {
  top: 15px;
  left: calc(50% - 60px);
}

#gravity {
  bottom: 15px;
  left: calc(50% - 80px);
}

#drag {
  left: 15px;
  top: calc(50% - 40px);
}

#thrust {
  right: 15px;
  top: calc(50% - 40px);
} */