---
layout: layouts/base.njk
---
{{ content | safe }}

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">  
</script>

{# https://dev.to/studio_hungry/use-cloudinary-hooks-lib-useupload-1a3g #}

{# https://cloudinary.com/documentation/upload_images#using_cloudinary_server_side_sdks_to_generate_sha_1_authentication_signatures #}

<div id="rp-upload-container"></div>

<script type="text/javascript">

    {# cloudinary.applyUploadWidget(document.getElementById('upload_widget_opener'), 
  { api_key : "my_api_key", cloudName: "dwhxvo4kw", uploadSignature: generateSignature }, 
  (error, result) => { }); #}

  var widget = cloudinary.createUploadWidget(
    { 
      api_key : "711596235184718", 
      cloudName: "dwhxvo4kw", 
      folder: "ruth-portfolio",
      inlineContainer: "#rp-upload-container"
    }
  , (error, result) => { }); 


  widget.open();

  </script>